---
import { TextSection, CustomerQuoteSection, CtaCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';



const seo = {
	title: 'A propos',
	description: 'A propos de moi',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h2 class="who">QUI SUIS-JE ?</h2>
		<CtaCardSection>
			<p>Mon super pouvoir :</p>
			<p>"la résolution de problèmes."</p>
		</CtaCardSection>
			<p>Actuellement en formation de développement web spécialisé en accessibilité numérique à l’école O’clock, je me lance dans une nouvelle aventure professionnelle.</p>
			<p>Grâce à mon parcours, c’est ma maturité, ma faculté d’adaptation et ma persévérance que je peux mettre à votre service.</p>
			<p>Organisé, je sais prendre en compte les priorités, prendre l'initialive si nécessaire et travailler en autonomie.</p>
		</div>
	</HeroSection>
	<CustomerQuoteSection
		quoteText="Je monte en compétences pour encadrer toutes les phases d'un projet."
    />

	<TextSection narrow>
    <p>
       Excellent communicateur et collaborateur, je comprends que vous ne vous souciez pas toujours de *comment* c'est fait, juste que c'est bien fait et à temps ;)
    </p>
	<br>
	<div class="hero-section__text">
			<h1 class="hello-skills">Mes compétences</h1>
	</div>

	
    
	</TextSection>
	<CustomerQuoteSection
		quoteText="Si vous cherchez un développeur web qui est passionné par son travail, prêt à relever de nouveaux défis avec enthousiasme, et ouvert à la reconversion de carrière, je vous invite à nous rencontrer dès maintenant."
    />
</Layout>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
		.hello-skills {
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		padding-top: 30px;
		font-weight: 600;
		height: auto;
		margin-bottom: 40px;
		line-height: 50px;
		}
		.hello-skills::before {
			content: "___";
			transform: translateY(-15px);
			display: inline-block;
			font-weight: 600;
			}
	}

.who {
	justify-self: center;
	max-width: 25rem;
	text-transform: uppercase;
	font-size: 35px;
	padding-top: 30px;
	font-weight: 600;
	height: auto;
	margin-bottom: 40px;
	line-height: 50px;
	}
	.who::before {
		content: "___";
		transform: translateY(-18px);
		display: inline-block;
		font-weight: 600;
	}
</style>
