---
---

<!-- <p class="odyssey-logo">&lt; Drondiodev. /&gt;</p> -->

<div class="title">
    <h1>
        <span class="boldtitle">&lt;</span>
        <span class="lighttitle">drondio</span> <br>
        <span class="boldtitle"> dev.</span> <br>
        <span class="boldtitle2">portfolio &gt;</span>
    </h1>
</div>

<style>
.title {
	padding: 0;
    margin: 0;
}

h1 {
    color: #777;
    font-family: 'lato';
    left: 50%;
    width: fit-content;
    text-transform: uppercase;
	justify-content: center;
    text-align: center;
    font-size: 22px;
}

.boldtitle {
    font-weight: 600;
}

.boldtitle2 {
    font-weight: 600;
    transform: translateX(40%);
    display: flex;
}

.lighttitle {
    font-weight: 100;
    /* text-decoration: line-through; */

}

.boldtitle2::before {
    content: '_____';
    position: absolute;
    transform: translate(-96%, -38%);
    display: inline-block;
    font-weight: 600;
}

.boxtitle:hover {
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 800px) {
    .title {
        padding-left: 2rem;
    }
}